{#
/**
 * @file
 * Shown when a lookup could not run at all.
 *
 * Available variables:
 * - message: a translated, public-safe message. Internals stay in the log.
 */
#}
<div class="domain-availability-error" role="alert">
  {{ message }}
</div>
